appdirs==1.4.3
cycler==0.10.0
decorator==4.4.0
funcsigs==1.0.2
kiwisolver==1.0.1
Mako==1.0.10
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.2
opencv-python==4.0.0.21
pyopencl==2018.2.5
pyparsing==2.3.1
python-dateutil==2.8.0
pytools==2019.1.1
reikna==0.7.3
six==1.12.0
unittest-xml-reporting==2.5.1
